<%- include("../../header") -%>

    <link rel="stylesheet" href="/stylesheets/app/request.css">
    <div class="d-flex justify-content-center">
        <h5>Create Show</h5>
    </div>
    <div class="d-flex justify-content-center card-container">
        <form class="col-12 col-md-6 justify-content-center form-container" id="request-form">
            <div class="mb-3 question">
                <label for="category" class="form-label">
                    What is the category of the show?
                </label>
                <select class="custom-select" name="category">
                    <option selected>Open this select menu</option>
                    <option value="movies">Movies</option>
                    <option value="tv-show">TV Shows</option>
                    <option value="web-series">Web Series</option>
                </select>
            </div>
            <div class="mb-3 question">
                <label for="moviename" class="form-label">
                    What is the name of the TV Shows/Movies/WebSeries?
                </label>
                <input type="text" name="moviename" class="form-control" placeholder="Movie Name">
            </div>

            <div class="mb-3 question">
                <label for="duration" class="form-label">
                    What is the duration in hours?
                </label>
                <input type="number" name="duration" class="form-control" placeholder="Duration">
            </div>
            <div class="mb-3 question">
                <label for="time" class="form-label">
                    What is the time for your show?
                </label>
                <select class="custom-select" name="time">
                    <option selected>Open this select menu</option>
                    <% for (var i=7; i<11; i++) { %>
                        <option value="<%= [i+1] %>:00am">
                            <%= [i+1] %>:00am
                        </option>
                        <% } %>
                            <% for (var i=1; i<12; i++) { %>
                                <option value="<%= [i+1] %>:00pm">
                                    <%= [i+1] %>:00pm
                                </option>
                                <% } %>
                </select>
            </div>
            <div class="mb-3 question">
                <label for="fare" class="form-label">
                    Please enter fare (in rupees) for the above choice
                </label>
                <input type="number" name="fare" class="form-control" placeholder="Enter Amount">
            </div>
            <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-primary">
                    Submit
                </button>
            </div>
        </form>
    </div>
    </div>
    <script src="/javascript/app/organizer/request.js"></script>

    <%- include("../../footer") -%>