<%- include("../../header") -%>

    <link rel="stylesheet" href="/stylesheets/app/request.css">
    <div class="d-flex justify-content-center">
        <h5>Create Form</h5>
    </div>
    <div class="d-flex justify-content-center card-container">
        <form class="col-12 col-md-6 justify-content-center form-container" id="request-form">
            <div class="mb-3 question">
                <label for="category" class="form-label">
                    Do you want to Choose your Year? <!-- name and value-->
                </label>
                <select class="custom-select" name="category"> <!-- name and value-->
                    <option selected>Open this select Note</option>
                    <option value="delivery">1st Year</option>
                    <option value="drop">2nd year</option>
                </select>
            </div>
            <div class="mb-3 question">
                <label for="requirement" class="form-label">
                    Choose Subject 
                </label>
                <select class="custom-select" name="requirement">
                    <option selected>Open this select menu</option>
                    <option value="AI">AI</option>
                    <option value="ML">ML</option>
                    <option value="C">C</option>
                    <option value="Web devlopment">Web devlopment</option>
                    <option value="C++">C++</option>
                    <option value="BEE">BEE</option>
                    <option value="PPS">PPS</option>
                    <option value="CAEG">CAEG</option>
                    <option value="Chemstry">Chemstry</option>
                    <option value="Math">Math</option>
                    <option value="DSA">DSA</option>
                    <option value="COA">COA</option>
                </select>
            </div>
            <div class="mb-3 question">
                <label for="time" class="form-label">
                    Choose the Notes/quizes/assignment/record
                </label>
                <select class="custom-select" name="time">
                    <option selected>Open this select menu</option>
                    <% for (var i=7; i<11; i++) { %>
                        <option value="<%= [i+1] %>:00am">
                            <%= [i+1] %>:00am
                        </option>
                        <% } %>
                            <% for (var i=1; i<12; i++) { %>
                                <option value="<%= [i+1] %>:00pm">
                                    <%= [i+1] %>:00pm
                                </option>
                                <% } %>
                </select>
            </div>
            <div class="mb-3 question">
                <label for="fare" class="form-label">
                    Please enter cost (in rupees) for the above choice
                </label>
                <input type="number" name="fare" class="form-control" placeholder="Fare">
            </div>
            <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-primary">
                    Submit
                </button>
            </div>
        </form>
    </div>
    </div>
    <script src="/javascript/app/user/request.js"></script>

<%- include("../../footer") -%>